<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ovff</title>
</head>
<body>
嘸蝦米查碼

<form action="" method="post" role="form">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="查詢"/>
</form>

<div id="css_table">
    <div class="css_tr">
        <span class="css_td">文字</span>
        <span class="css_td">拆碼</span>
    </div>
    {% for result in radicals.radicals %}
    <div class="css_tr">
        <span class="css_td">{{ result.1 }}</span>
        <span class="css_td">{{ result.0 }}</span>
    </div>
    {% endfor %}
</div>

</body>
</html>