{% extends 'ovff/base.html' %}
{% load crispy_forms_tags %}

{% block title %}嘸蝦米查碼{% endblock title %}

{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static "ovff/css/div_table.css" %}">
{% endblock extra_css %}

{% block content %}
嘸蝦米查碼

<form action="" method="post" role="form">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="查詢"/>
</form>

{% if radicals.radicals %}
<br />
<div id="css_table">
    <div class="css_th">
        <span class="css_td">文字</span>
        <span class="css_td">拆碼</span>
    </div>
    {% for result in radicals.radicals %}
    <div class="css_tr">
        <span class="css_td">{{ result.1 }}</span>
        <span class="css_td">{{ result.0 }}</span>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock content %}